<div id="board">
  <div fxFlex class="board-content-wrapper p-16 p-md-24">
    <!-- BOARD -->
    <div
      class="board-content p-16 p-md-24"
      fxLayout="row"
      [@animateStagger]="{ value: '50' }"
    >
      <!-- LIST -->
      <scrumboard-board-list
        class="scrumboard-board-list list-wrapper ngx-dnd-item"
        *ngFor="let list of board.lists"
        [list]="list"
        [board]="board"
        [@animate]="{ value: '*', params: { duration: '350ms', x: '100%' } }"
      >
      </scrumboard-board-list>
      <!-- / LIST -->

      <!-- NEW LIST BUTTON-->
      <scrumboard-board-add-list
        class="new-list-wrapper"
        (listAdded)="onListAdd($event)"
        [@animate]="{ value: '*', params: { duration: '350ms', x: '100%' } }"
      >
      </scrumboard-board-add-list>
      <!-- / NEW LIST BUTTON-->
    </div>
    <!-- / BOARD -->
  </div>
  <!-- primary content -->
</div>
